Repository apple/live-caller-id-lookup-example: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftformat, swiftlint

swiftformat:
  name: swiftformat
  entry: swiftformat
  language: system

swiftlint:
  name: swiftlint
  entry: swiftlint lint --strict
  language: system

Fixes for new repo
  Package.resolved
  Package.swift
  rio.yml
Due: swiftformat, swiftlint

Fix readme (#1)
  README.md
Due: none

Remove utils (#2)
  .swiftlint.yml
  Package.swift
  Sources/PIRGenerateDatabase/GenerateDatabase.swift
  Sources/PIRProcessDatabase/ProcessDatabase.swift
  Sources/PIRShardDatabase/ShardDatabase.swift
Due: swiftformat, swiftlint

Add documentation skeleton + authentication page (#3)
  Package.resolved
  Package.swift
  Sources/PIRService/PIRService.docc/Authentication.md
  Sources/PIRService/PIRService.docc/PIRService.md
  Sources/PIRService/PIRService.docc/Resources/authentication.svg
  Sources/PIRService/PIRService.docc/Resources/authentication~dark.svg
Due: swiftformat, swiftlint

Update hummingbird to beta 8 (#6)
  Package.resolved
  Package.swift
  Sources/PIRService/Application+build.swift
  Sources/PIRService/Controllers/PirUsecase.swift
  Sources/PIRService/Extensions/PrivacyPass+ResponseGenerator.swift
  Sources/PIRService/Extensions/ProtobufExtensions.swift
  Sources/PIRService/Extensions/Request+DecodeProtobuf.swift
  Sources/PIRService/Middlewares/ExtractUserIdentifier.swift
  Sources/PIRService/Middlewares/UserTierAuthentication.swift
  Tests/PIRServiceControllerTests.swift
Due: swiftformat, swiftlint

ConstructDatabase helper utility (#4)
  .pre-commit-config.yaml
  Package.resolved
  Package.swift
  Sources/ConstructDatabase/ConstructDatabase.swift
  Sources/ConstructDatabase/generated/CallIdentity.pb.swift
  Sources/ConstructDatabase/generated/InputIdentities.pb.swift
  Sources/ConstructDatabase/protobuf/CallIdentity.proto
  Sources/ConstructDatabase/protobuf/InputIdentities.proto
  Sources/ConstructDatabase/protobuf/README.md
Due: swiftformat, swiftlint

Binary help strings have correct binary name (#7)
  Sources/ConstructDatabase/ConstructDatabase.swift
  Sources/PIRService/server.swift
Due: swiftformat, swiftlint

Refactor Privacy Pass to a separate library (#8)
  Package.resolved
  Package.swift
  Sources/PIRService/Application+build.swift
  Sources/PIRService/Controllers/PrivacyPassController.swift
  Sources/PIRService/Controllers/PrivacyPassState.swift
  Sources/PIRService/Extensions/HTTPFields+authorization.swift
  Sources/PIRService/Extensions/PrivacyPass+ResponseGenerator.swift
  Sources/PIRService/PrivacyPass/Issuer.swift
  Sources/PIRService/PrivacyPass/PrivateKey.swift
  Sources/PIRService/PrivacyPass/PublicKey.swift
  Sources/PIRService/PrivacyPass/Token.swift
  Sources/PIRService/PrivacyPass/TokenIssuerDirectory.swift
  Sources/PIRService/PrivacyPass/TokenRequest.swift
  Sources/PIRService/PrivacyPass/TokenResponse.swift
  Sources/PIRService/PrivacyPass/Verifier.swift
  Sources/PrivacyPass/Array+Base64URL.swift
  Sources/PrivacyPass/Issuer.swift
  Sources/PrivacyPass/PrivacyPass.swift
  Sources/PrivacyPass/PrivacyPassError.swift
  Sources/PrivacyPass/PrivateKey.swift
  Sources/PrivacyPass/PublicKey+request.swift
  Sources/PrivacyPass/PublicKey.swift
  Sources/PrivacyPass/Token.swift
  Sources/PrivacyPass/TokenIssuerDirectory.swift
  Sources/PrivacyPass/TokenRequest.swift
  Sources/PrivacyPass/TokenResponse.swift
  Sources/PrivacyPass/Util.swift
  Sources/PrivacyPass/Verifier.swift
  Tests/PIRServiceTests/PIRServiceControllerTests.swift
  Tests/PIRServiceTests/TestClientProtocol+Protobuf.swift
  Tests/PIRServiceTests/TestResponse+Protobuf.swift
  Tests/PrivacyPassTests/PrivacyPassTests.swift
  Tests/PrivacyPassTests/TestUtils.swift
  Tests/PrivacyPassTests/TestVectors/PrivacyPassPublicTokens.json
Due: swiftformat, swiftlint

Add SECURITY.md (#9)
  SECURITY.md
Due: none

PrivacyPass: make things public + add documentation (#10)
  .swiftlint.yml
  Sources/PIRService/Extensions/PrivacyPass+ResponseGenerator.swift
  Sources/PrivacyPass/Array+Base64URL.swift
  Sources/PrivacyPass/Issuer.swift
  Sources/PrivacyPass/PrivacyPass.docc/PrivacyPass.md
  Sources/PrivacyPass/PrivacyPass.swift
  Sources/PrivacyPass/PrivacyPassError.swift
  Sources/PrivacyPass/PrivateKey.swift
  Sources/PrivacyPass/PublicKey+request.swift
  Sources/PrivacyPass/PublicKey.swift
  Sources/PrivacyPass/Token.swift
  Sources/PrivacyPass/TokenIssuerDirectory.swift
  Sources/PrivacyPass/TokenRequest.swift
  Sources/PrivacyPass/TokenResponse.swift
  Sources/PrivacyPass/Verifier.swift
  Tests/PrivacyPassTests/PrivacyPassPublicTests.swift
  Tests/PrivacyPassTests/PrivacyPassTests.swift
Due: swiftformat, swiftlint

Update swift-he (#11)
  Package.resolved
  Package.swift
  Sources/PIRService/Application+build.swift
  Sources/PIRService/Controllers/PirUsecase.swift
  Tests/PIRServiceTests/PIRServiceControllerTests.swift
Due: swiftformat, swiftlint

Add license to new file (#12)
  Tests/PrivacyPassTests/PrivacyPassPublicTests.swift
Due: swiftformat, swiftlint

Add comments to the CallIdentity proto file (#15)
  Sources/ConstructDatabase/generated/CallIdentity.pb.swift
  Sources/ConstructDatabase/protobuf/CallIdentity.proto
  Sources/ConstructDatabase/protobuf/InputIdentities.proto
Due: swiftformat

Remove issuerRequestUri from configuration (#16)
  Sources/PIRService/Controllers/PrivacyPassController.swift
  Sources/PIRService/Controllers/PrivacyPassState.swift
  Sources/PIRService/server.swift
Due: swiftformat, swiftlint

Make config-file mandatory (#17)
  Sources/PIRService/Application+build.swift
  Sources/PIRService/server.swift
  Tests/PIRServiceTests/PIRServiceControllerTests.swift
Due: swiftformat, swiftlint

Update swift-he (#19)
  Package.resolved
  Package.swift
  Sources/PIRService/Controllers/PirUsecase.swift
Due: swiftformat, swiftlint

Usage instructions (#13)
  Sources/PIRService/PIRService.docc/PIRService.md
Due: none

Revert "Remove issuerRequestUri from configuration (#16)" (#18)
  Sources/PIRService/Controllers/PrivacyPassController.swift
  Sources/PIRService/Controllers/PrivacyPassState.swift
  Sources/PIRService/PIRService.docc/PIRService.md
  Sources/PIRService/server.swift
Due: swiftformat, swiftlint

Add Live Caller ID Lookup data format docs (#20)
  Sources/PIRService/PIRService.docc/DataFormat.md
  Sources/PIRService/PIRService.docc/PIRService.md
Due: none

Document required HTTP endpoints (#21)
  Sources/PIRService/PIRService.docc/HTTPEndpoints.md
Due: none

Expand README (#22)
  Package.swift
  README.md
Due: swiftformat, swiftlint

Document privacy (#23)
  Sources/PIRService/PIRService.docc/Authentication.md
  Sources/PIRService/PIRService.docc/PrivacyExplanation.md
Due: none

Move testing instructions to a separate article (#24)
  Sources/PIRService/PIRService.docc/PIRService.md
  Sources/PIRService/PIRService.docc/TestingInstructions.md
Due: none

Update to protobuf 1.27 (#25)
  Package.resolved
  Package.swift
  Sources/ConstructDatabase/generated/CallIdentity.pb.swift
  Sources/ConstructDatabase/generated/InputIdentities.pb.swift
  Sources/ConstructDatabase/protobuf/README.md
  Sources/PIRService/Controllers/PIRServiceController.swift
  Sources/PIRService/Extensions/ProtobufExtensions.swift
  Sources/PIRService/Extensions/Request+DecodeProtobuf.swift
  Tests/PIRServiceTests/PIRServiceControllerTests.swift
  Tests/PIRServiceTests/TestResponse+Protobuf.swift
Due: swiftformat, swiftlint

Update dependencies (#26)
  Package.resolved
  Package.swift
  Sources/PIRService/Extensions/HEError+HTTPErrorResponse.swift
  Sources/PIRService/Extensions/PrivacyPass+ResponseGenerator.swift
  Tests/PIRServiceTests/PIRServiceControllerTests.swift
Due: swiftformat, swiftlint

Fix inconsistency (#27)
  Package.swift
Due: swiftformat, swiftlint

Fix license and documentation link
  LICENSE.txt
  Sources/PIRService/PIRService.docc/TestingInstructions.md
Due: none

Fix license and documentation link (#1)
  LICENSE.txt
  Sources/PIRService/PIRService.docc/TestingInstructions.md
Due: none

Host DocC documentation in the Swift Package Index
  .spi.yml
Due: none

Update DocC plugin to swiftlang
  Package.resolved
  Package.swift
  README.md
Due: swiftformat, swiftlint

Host DocC documentation in the Swift Package Index (#2)
  .spi.yml
Due: none

Fix inconsistency
  Package.swift
Due: swiftformat, swiftlint

Update DocC plugin to swiftlang (#3)
  Package.resolved
  Package.swift
  README.md
Due: swiftformat, swiftlint

Fix inconsistency (#4)
  Package.swift
Due: swiftformat, swiftlint

Fix Xcode capitalization
  README.md
Due: none

Fix Xcode capitalization (#5)
  README.md
Due: none

Add sharding to example configs in instructions
  Sources/PIRService/PIRService.docc/TestingInstructions.md
Due: none

Add sharding to example configs in instructions (#6)
  Sources/PIRService/PIRService.docc/TestingInstructions.md
Due: none

Path conditions:
  swiftformat: any of: \.swift$
  swiftlint: any of: \.swift$, but not: DoubleWidthInt.swift|.pb.swift
